.my-gear {
  padding: 20px;
}

h3 {
  color: #f87d22;
}



.linkstyle {
  text-decoration: none;
  color: #d7a049;
    &:visited{
      color: #d7a049;
    }
    &:hover {
      color: #f87d22;
    }
    &:active {
      color: #d7a049;
    }
}
